

#qw{

    background-color: rgb(32, 85, 5);
    color: orange;
    font-family: monospace;
    border-radius: 1rem;
    border: 6px solid purple;
    display: flex;
    justify-content:center;
    padding-left: 1rem;
    align-items: center;

}
span{
    color: dodgerblue;
    font-family: monospace;
}
#re{
    color: aliceblue;
    display: inline-block;
    font-family: monospace;
}
h1{
    text-align: center;
}
body{

  background-image: url(dark.png.png);
  background-size: 100%;
  
}

#tr{
    color: azure;
   
    text-align: center;
}
@font-face {
    font-family: vaziri;
    src: url(Vazir-Bold.ttf);
}
:root{
    font-family: vaziri;
}
*{
    cursor: pointer;
}
*::selection{
    color: whitesmoke;
    background-color: rgb(220, 20, 87);
}
h4{
    color: aliceblue;
    text-align: center;
    line-height: 30px;
}

h2{
    color: coral;
    direction: rtl;
    
    text-align: center;
}
.iu{
    display: inline-block;
    color:rgb(128, 240, 105);
}

#xz{
    direction: rtl;
}
ul li{
   list-style: none;
   color: rgb(68, 220, 21);
   border-radius: 3rem;
   display:flex; 
   flex-direction: column;
}

.atag{
    text-decoration: none;
    color: rgb(219, 227, 105);
    background-color: green;
    border-radius: 3rem;
    padding: 0.4rem;
    box-shadow: 3px 4px 5px rgb(218, 82, 155);
}
.atag:hover{
    color: rgb(23, 213, 172);
}
.atag:active{
    color: rgb(218, 152, 94);
}
#d3{
    color:deeppink;
}

   

#main{
    position:relative ;
    display: flex;
   justify-content: center;
  
}
#child a{
    display: none;
}
#main :hover #child a{
    display: block;
    padding-top: 1rem;
}


/* #po:hover{
    width:40rem;
} */



#ab{
    padding: 0.5rem;
    color: rgb(5, 72, 216);
    box-shadow: 2px 2px 5px purple;
    background-color: black;
    border-radius: 1rem;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
#child a{
    background-color: rgb(6, 18, 6);
    margin-top: 1rem;
    border-radius: 0.5rem;
    padding: 1rem;
    padding-top: 1rem;
    color: darkorange;
}
#child a:hover{
    color:cyan;
    box-shadow: 2px 2px 5px rgb(154, 35, 35);
}
#b6{
    color: yellow;
    -webkit-text-stroke: 1px rgb(148, 14, 56);
}

.hj{
    color: rgb(191, 0, 255);
    border-radius: 1rem;
    padding: 0.7rem;
}
#tyd{
    width: 190px;
    background-image: url(Money_Cash.jpg);
    
}



